.success{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    margin: 0rem 0rem 18rem;
    &__img{
        max-width: 4rem;
    }
    &__message{
        text-align: center;
        max-width: 24rem;
        margin: 0rem 0rem 4rem;
    }
    &__btn{
        width: 10rem;
    }
}