@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:wght@400;500;600&display=swap');

body{
    font-family: 'Inter Tight', sans-serif;
}

h1{
    font-weight: 600;
    font-size: 54px;
}